body{
    background-color: #faf24e;
    margin: 0 10%;
    font-family: sans-serif;
}


img{
    width: 400px;
    height: 200px;
}


h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: normal;
    border-bottom: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}

h2 {
    color: #d1633c;
    font-size: 1em;
}